.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--bg-modal-color);
  display: none;
  z-index: 1001;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: show .2s ease;
}

.modal.hiddenModal {
  animation: hide .3s ease;
}

.modalBody {
  position: relative;
  border-radius: var(--default-border-radius);
  align-self: flex-end;
  width: 100%;
  height: 60%;
  background-color: var(--bg-color);
  animation: bodyShow .2s ease;
  .image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
    opacity: var(--opacity);
    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
  }
  .exit {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1%;
    background-color: orange;
    border-radius: 50%;
    z-index: 1000;
    font-size: 25px;
    opacity: var(--opacity);
  }
  .description {
    padding: 1% 3.5% 0 3.5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    p {
      margin-top: 0.5%;
    }
    .title {
      font-size: 29px;
      font-weight: bold;
      color: var(--font-color-main)
    }
    .quantity {
      font-size: 17px;
      color: var(--font-color-second);
    }
    .price {
      color: orange;
      font-size: 22px;
      font-weight: bold;
    }
    .info {
      font-size: 19px;
      font-weight: normal;
      color: var(--font-color-main);
    }
  }
}

.modalBody.hiddenBody {
  animation: bodyHide .3s ease;
}

@keyframes show {
  0% {
    opacity: 0;
  }
}

@keyframes hide {
  100% {
    opacity: 0;
  }
}

@keyframes bodyShow {
  0% {
    transform: translateY(1000px);
  }
}

@keyframes bodyHide {
  100% {
    transform: translateY(1000px);
  }
}